/* Contenedor principal */
main {
    grid-area: main;
    padding: 0;
    border-radius: 0;
    width: 100%;
    max-width: 2560px;
    box-sizing: border-box;
}

/* Catálogo de animes */
.catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    padding: 20px;
    justify-items: center;
    max-width: 100%;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

/* Bloque de anime */
.anime {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 320px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-radius: 5px;
}

.anime img {
    /*width: 100%;*/
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
    
}

.anime:hover {
    transform: scale(1.04);
    filter: brightness(1.04);
}

.anime h4 {
    position: absolute;
    bottom: 80px;
    left: 5%;
    background-color: rgba(36, 255, 142, 0.93);
    color: black;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 0.6em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold; /* Hace el texto en negrita */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 68%;
    word-wrap: break-word;
    text-align: left;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.anime:hover h4 {
    opacity: 0;
    transform: translateY(1);
}

.anime p {
    font-size: 1em;
    margin: 5px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: start;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.anime:hover p {
    color: #ff8000;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    text-decoration: underline; /* Agrega subrayado */
    font-weight: bold; /* Hace el texto en negrita */
}


.anime a {
    text-decoration: none;
    color: rgb(255, 115, 0);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.anime p:hover a {
    text-decoration: underline;
}

/* Pantallas grandes (3 columnas) */
@media screen and (min-width: 700px)  {
    .catalogo {
        grid-template-columns: repeat(3, 1fr); /* 2 columnas */
        gap: 0px 10px; /* Ajuste de espacios */
        max-width: 700px; /* Limita el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 10px; /* Añade un poco de espacio interno */
    }

    .anime {
        max-width: 100%; /* Asegura que las tarjetas se ajusten al nuevo contenedor */
        height: auto;
    }

    .anime img {
        
        height: 340px; /* Reduce ligeramente la altura de las imágenes */
        object-fit: contain; /* Mantiene la proporción y recorta si es necesario */  
    } 

    .anime h4 {
        position: relative;
        font-size: 1.2em; /* Reduce el tamaño del texto */
        bottom: 50px; /* Ajusta la posición del título */
        max-width: 55%;   
   }

    .anime p {
        font-size: 1.2em; /* Reduce el tamaño del texto del párrafo */
    }
}


/* Pantallas pequeñas (2 columnas) */
@media (max-width: 320px){
    .catalogo {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        gap: 0px 10px; /* Ajuste de espacios */
        max-width: 320px; /* Limita el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 10px; /* Añade un poco de espacio interno */
    }

    .anime {
        max-width: 100%; /* Asegura que las tarjetas se ajusten al nuevo contenedor */
        height: auto;   
    }

     
    .anime img {
        height: 240px; /* Reduce ligeramente la altura de las imágenes */
        object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
    }

    .anime h4 {
        position: relative;
        font-size: 0.9em; /* Reduce el tamaño del texto */
        bottom: 40px; /* Ajusta la posición del título */
        max-width: 65%;
    }

    .anime p {
        
        font-size: 1em; /* Reduce el tamaño del texto del párrafo */
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .catalogo {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        gap: 0px 10px; /* Ajuste de espacios */
        max-width: 320px; /* Limita el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 10px; /* Añade un poco de espacio interno */
    }

    .anime {
        max-width: 100%; /* Asegura que las tarjetas se ajusten al nuevo contenedor */
        height: auto;   
    }

     
    .anime img {
        height: 240px; /* Reduce ligeramente la altura de las imágenes */
        object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
    }

    .anime h4 {
        position: relative;
        font-size: 0.9em; /* Reduce el tamaño del texto */
        bottom: 40px; /* Ajusta la posición del título */
        max-width: 65%;
    }

    .anime p {
        
        font-size: 1em; /* Reduce el tamaño del texto del párrafo */
    }
}

/* Pantallas pequeñas a medianas (2 columnas) */
@media (min-width: 375px) and (max-width: 424px) {
    .catalogo {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        gap: 0px 10px; /* Ajuste de espacios */
        max-width: 375px; /* Limita el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 10px; /* Añade un poco de espacio interno */
    }

    .anime {
        max-width: 100%; /* Asegura que las tarjetas se ajusten al nuevo contenedor */
        height: auto; 
    }
 
    .anime img {
        height: 240px; /* Reduce ligeramente la altura de las imágenes */
        object-fit: contain; /* Mantiene la proporción y recorta si es necesario */
    }

    .anime h4 {
        position: relative;
        font-size: 1em; /* Reduce el tamaño del texto */
        bottom: 40px; /* Ajusta la posición del título */
        max-width: 60%;
    }

    .anime p {
    
        font-size: 1em; /* Reduce el tamaño del texto del párrafo */
    }
}

/* Pantallas medianas (2 columnas) */
@media (min-width: 425px) and (max-width: 767px) {
    .catalogo {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        gap: 0px 10px; /* Ajuste de espacios */
        max-width: 425px; /* Limita el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 10px; /* Añade un poco de espacio interno */
    }

    .anime {
        max-width: 100%; /* Asegura que las tarjetas se ajusten al nuevo contenedor */
        height: auto;   
    }

    .anime img {
        height: 270px; /* Reduce ligeramente la altura de las imágenes */
        object-fit: contain; /* Mantiene la proporción y recorta si es necesario */
    }

    .anime h4 {
        position: relative;
        font-size: 1em; /* Reduce el tamaño del texto */
        bottom: 40px; /* Ajusta la posición del título */
        max-width: 55%;
    }

    .anime p {
        
        font-size: 1em; /* Reduce el tamaño del texto del párrafo */
    }
}

/* Pantallas grandes (3 columnas) */
@media (min-width: 768px) and (max-width: 1023px) {
    .catalogo {
        grid-template-columns: repeat(3, 1fr); /* 2 columnas */
        gap: 0px 10px; /* Ajuste de espacios */
        max-width: 768px; /* Limita el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 10px; /* Añade un poco de espacio interno */
    }

    .anime {
        max-width: 100%; /* Asegura que las tarjetas se ajusten al nuevo contenedor */
        height: auto;
    }

    .anime img {
        
        height: 340px; /* Reduce ligeramente la altura de las imágenes */
        object-fit: contain; /* Mantiene la proporción y recorta si es necesario */  
    } 

    .anime h4 {
        position: relative;
        font-size: 1.3em; /* Reduce el tamaño del texto */
        bottom: 50px; /* Ajusta la posición del título */
        max-width: 55%;   
   }

    .anime p {
        font-size: 1.3em; /* Reduce el tamaño del texto del párrafo */
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .catalogo {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas */
        gap: 0px 10px; /* Ajuste de espacios */
        max-width: 1024px; /* Limita el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 10px; /* Añade un poco de espacio interno */
    }

    .anime {
        max-width: 100%; /* Asegura que las tarjetas se ajusten al nuevo contenedor */
        height: auto;   
    }

    .anime img {
        height: 340px; /* Reduce ligeramente la altura de las imágenes */
        object-fit: contain; /* Mantiene la proporción y recorta si es necesario */
    }

    .anime h4 {
        position: relative;
        font-size: 1.3em; /* Reduce el tamaño del texto */
        bottom: 50px; /* Ajusta la posición del título */
        max-width: 55%; /* Ajusta el tamaño del título */
        text-align: center; /* Centra el texto */
    }
    .anime p {
        
        font-size: 1.3em; /* Reduce el tamaño del texto del párrafo */
    }
}

/* Pantallas ultra grandes (5 columnas) */
@media (min-width: 1440px) and (max-width: 2559px) {
    .catalogo {

        grid-template-columns: repeat(5, 1fr); /* 5 columnas */
        gap: 0px 10px; /* Reduce el espacio entre elementos */
        max-width: 1440px; /* Limita el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 20px; /* Añade un poco de espacio interno */
        
    }

    .anime {
        max-width: 100%; /* Asegura que las tarjetas se ajusten al nuevo contenedor */
        height: auto;
    }

    .anime img {
        
        height: 295px; /* Reduce ligeramente la altura de las imágenes */
        object-fit: contain; /* Mantiene la proporción y recorta si es necesario */
    }

    .anime h4 {
        position: relative;
        font-size: 1.2em; /* Reduce el tamaño del texto */
        bottom: 50px; /* Ajusta la posición del título */
        max-width: 65%;
        text-align: center; /* Centra el texto */

    }

    .anime p {
        font-size: 1.3em;
    }
}

/* Pantallas ultra grandes (5 columnas) */
@media (min-width: 2560px) {
    .catalogo {

        grid-template-columns: repeat(5, 1fr); /* 5 columnas */
        gap: 0px 10px; /* Reduce el espacio entre elementos */
        max-width: 2560px; /* Limita el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 20px; /* Añade un poco de espacio interno */
        
    }

    .anime {
        max-width: 100%; /* Asegura que las tarjetas se ajusten al nuevo contenedor */
        height: auto;
    }

    .anime img {
        height: 550px; /* Reduce ligeramente la altura de las imágenes */
        object-fit: contain; /* Mantiene la proporción y recorta si es necesario */
    }

    .anime h4 {
        position: relative;
        font-size: 2em; /* Reduce el tamaño del texto */
        bottom: 60px; /* Ajusta la posición del título */
        max-width: 60%;
        text-align: center; /* Centra el texto */

    }

    .anime p {
        font-size: 2.5em;
    }
}



